@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'form/form.scss';

@import 'rental/rental-listing.scss';
@import 'rental/rental-detail.scss';
@import 'rental/rental-manage.scss';
@import 'booking/booking';
@import './editable/editable-component';

.clickable {
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.apartment {
  color: #a72da2;
}

.house {
  color: #03a9f4;
}

.condo {
  color: #880c0c;
}

.btn-bwm {
  background-color: $main-color !important;
  border-color: $main-color !important;
  color: black !important;
  padding: 15px 30px;
  font-size: 20px;

  &:hover,
  &:focus,
  &:active {
    border-color: $main-color !important;
    color: black !important;
    background-color: $main-color !important;
  }
}
